<div role=\ "main\" class=\ "ui-content\">
    <div class=\ "ui-body ui-body-a ui-corner-all loxberry-logo\">
        <div style=\ "margin: 5%;\">
    			<p class= "<TMPL_VAR NAME=MESSAGETYPE> maininfo"><TMPL_VAR NAME=MESSAGE></p>
            <h2>Einstellungen</h2>
            <div>
            		<p class="hint">In diesem Bereich bitte die korrekte Anzahl der benötigten Ein- und Ausgänge angeben. Nach dem speichern wird die Kanalkonfiguration angepasst </p>
            </div>
            <form method="post" data-ajax="false" name="count_form" id="count_form" action="./index.cgi" class="separatingline">
              <input type="hidden" id="saveCount" name="saveCount" value="saveCount">
              <div class="ui-field-contain">
                <label id="input_count_label">Anzahl Eingänge:</label>
                <select name="input_count" id="input_count">
                  <TMPL_LOOP NAME=select_input_count>
                    <option value='<TMPL_VAR NAME=COUNT>'
                      <TMPL_VAR NAME=CHOOSED>><TMPL_VAR NAME=COUNT>
                    </option>
                  </TMPL_LOOP>
                </select>
              </div>
              <div class="ui-field-contain">
                <label id="input_count_label">Anzahl Ausgänge:</label>
                  <select name="output_count" id="output_count">
                    <TMPL_LOOP NAME=SELECT_OUTPUT_COUNT>
                      <option value='<TMPL_VAR NAME=COUNT>'
                        <TMPL_VAR NAME=CHOOSED>><TMPL_VAR NAME=COUNT>
                      </option>
                    </TMPL_LOOP>
                  </select>
              </div>

              <center>
                <button class="button" type="reset" form="count_form" id="btnreset" data-role="button" data-inline="true"
              	data-mini="true" data-icon="check">Reset</button>
              	<button class="button" type="submit" form="count_form" id="btnsubmit" data-role="button" data-inline="true"
              	data-mini="true" data-icon="check">Speichern</button>
              </center>
            </form>

            <h2>Kanalkonfiguration</h2>
            <div>
            		<p class="hint">Hier werden die Zuordnungen der physikalischen Anschlüsse des Raspberrys zu den Kanälen der Ein- und Ausgänge vorgenommen.
            		In das Eingabefeld wird hierfür für jeden Kanal des verwendete GPIO Anschluss eingetragen. Die GPIO Pin Belegung kann <a href="https://www.elektronik-kompendium.de/sites/raspberry-pi/1907101.htm">hier</a> nachgelesen werden.</p>
            </div>
            <form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
        		<input type="hidden" id="saveIoConfig" name="saveIoConfig" value="saveIoConfig">
        		
            <div class="ui-corner-all custom-corners">
              <h3>Eingänge</h3>
              <div class="ui-grid-a ui-responsive">  
                <TMPL_LOOP NAME=number_of_inputs>
                  <div class="ui-block-b">
                    <div class="<TMPL_VAR NAME=class> ui-corner-all custom-corners">  
                      <div class="ui-bar ui-bar-a <TMPL_VAR NAME=class>">
                        <h3>Eingang <TMPL_VAR NAME=current /></h3>
                        <p class="info_text">LoxoneConfig <a href="#popupInfo<TMPL_VAR NAME=current>" data-rel="popup" data-transition="pop" style="background:none" class="info_icon my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" title="Show more">Show more</a></p>
                          <div data-role="popup" id="popupInfo<TMPL_VAR NAME=current>" class="ui-content" data-theme="a" style="max-width:700px;">
                            <span class="info_text_headline">Konfiguration des Eingangs <TMPL_VAR NAME=current> in der LoxoneConfig</span>
                            <span class="info_text_subline mono">Name des Eingangs:</span>
                            <table>
                              <tr>
                                <td>Wert:</td>
                                <td class="param"><TMPL_VAR NAME=hostname>_gpio_<TMPL_VAR value>_state</td>
                              </tr>
                              <tr>
                                <td>Wert als Text:</td>
                                <td class="param"><TMPL_VAR NAME=hostname>_gpio_<TMPL_VAR value>_stateText</td>
                              </tr>
                              <tr>
                                <td>Zeitstempel Ein:</td>
                                <td class="param"><TMPL_VAR NAME=hostname>_gpio_<TMPL_VAR value>_timestamp_ON</td>
                              </tr>
                              <tr>
                                <td>Zeitstempel Aus:</td>
                                <td class="param"><TMPL_VAR NAME=hostname>_gpio_<TMPL_VAR value>_timestamp_OFF</td>
                              </tr>
                            </table>
                          </div>
                      </div>
                      <div class="ui-body ui-body-a ui-grid-a ui-responsive">
                        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-block-b">
                          <div class="gpioconf <TMPL_VAR NAME=class_pin>">     
                            
                            <label for="input<TMPL_VAR NAME=current>">Pin:</label>
                            <input type="text" id="input<TMPL_VAR NAME=current>" name="input<TMPL_VAR NAME=current>" value="<TMPL_VAR value>">
                            <p class="error_hint"><TMPL_VAR NAME="errormessage_pin" /></p>
                          </div>
                        </fieldset>
                        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-block-b gpio-right">
                          <input type="radio" name="INPUTS.INPUTWIRING<TMPL_VAR NAME=current>" id="INPUTS.INPUTWIRING<TMPL_VAR NAME=current>" value="d" <TMPL_VAR NAME=wiring_d>>
                          <label for="INPUTS.INPUTWIRING<TMPL_VAR NAME=current>">Pulldown</label>
                          <input type="radio" name="INPUTS.INPUTWIRING<TMPL_VAR NAME=current>" id="INPUTS.INPUTWIRING<TMPL_VAR NAME=current>a" value="u" <TMPL_VAR NAME=wiring_u>>
                          <label for="INPUTS.INPUTWIRING<TMPL_VAR NAME=current>a">Pullup</label>

                        </fieldset>
                      </div>  
                    </div>
                  </div>
                </TMPL_LOOP>
              </div>
            </div> 

            <div class="ui-corner-all custom-corners"> 
              
              <h3>Ausgänge</h3>
              <div class="ui-grid-a ui-responsive">
                <TMPL_LOOP NAME="number_of_outputs">
                  <div class="<TMPL_VAR NAME=class_box>">
                    <div class="<TMPL_VAR NAME=class> ui-corner-all custom-corners">

                      <div class="ui-bar ui-bar-a <TMPL_VAR NAME=class>">
                        <h3>Ausgang <TMPL_VAR NAME=current /></h3>

                        <p class="info_text">LoxoneConfig <a href="#popupInfoOutput<TMPL_VAR NAME=current>" data-rel="popup" data-transition="pop" style="background:none" class="info_icon my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" title="Show more">Show more</a></p>
                          <div data-role="popup" id="popupInfoOutput<TMPL_VAR NAME=current>" class="ui-content" data-theme="a" style="max-width:700px;">
                          
                            <span class="info_text_headline">Konfiguration des Ausgangs <TMPL_VAR NAME="current" /> in der LoxoneConfig</span>
                            <span class="info_text_subline mono">Virtueller Ausgang Befehl:</span>
                            <table>
                              <tr>
                                <td>Befehl für EIN:</td>
                                <td class="param">publish <TMPL_VAR NAME=hostname>/gpio/set/<TMPL_VAR value> on</td>
                              </tr>
                              <tr>
                                <td>Befehl für AUS:</td>
                                <td class="param">publish <TMPL_VAR NAME=hostname>/gpio/set/<TMPL_VAR value> off</td>
                              </tr>
                            </table>
                            <span class="info_text_subline mono">Antworten als Eingänge:</span>
                            <table>
                              <tr>
                                <td>Wert:</td>
                                <td class="param"><TMPL_VAR NAME=hostname>_gpio_<TMPL_VAR value>_state</td>
                              </tr>
                              <tr>
                                <td>Wert als Text:</td>
                                <td class="param"><TMPL_VAR NAME=hostname>_gpio_<TMPL_VAR value>_stateText</td>
                              </tr>
                              <tr>
                                <td>Zeitstempel Ein:</td>
                                <td class="param"><TMPL_VAR NAME=hostname>_gpio_<TMPL_VAR value>_timestamp_ON</td>
                              </tr>
                              <tr>
                                <td>Zeitstempel Aus:</td>
                                <td class="param"><TMPL_VAR NAME=hostname>_gpio_<TMPL_VAR value>_timestamp_OFF</td>
                              </tr>
                            </table>
                          </div> 
                      </div>
                      <div class="ui-body ui-body-a ui-grid-a ui-responsive">
                        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-block-b">                   
                          <div class="gpioconf <TMPL_VAR NAME=class_pin>">     
                            <label for="output<TMPL_VAR NAME=current>">Pin:</label>
                            <input type="text" id="output<TMPL_VAR NAME=current>" name="output<TMPL_VAR NAME=current>" value="<TMPL_VAR value>">
                            <p class="error_hint"><TMPL_VAR NAME="errormessage_pin" /></p>  
                          </div>
                          <div id="frequency<TMPL_VAR NAME=current>" class="gpioconf <TMPL_VAR NAME=class_frequency>" style="display: <TMPL_VAR NAME=display_frequency>;">  
                            <label for="frequency<TMPL_VAR NAME=current>">Frequenz[Hz]:</label>
                            <input type="text" id="frequency<TMPL_VAR NAME=current>" name="frequency<TMPL_VAR NAME=current>" value="<TMPL_VAR frequency>">
                              
                            <p class="error_hint"><TMPL_VAR NAME="errormessage_frequency" /></p>
                          </div>
                        </fieldset>
                        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-block-b gpio-right">
                            
                            <input type="radio" name="OUTPUTS.TYPE<TMPL_VAR NAME=current>" id="OUTPUTS.TYPE<TMPL_VAR NAME=current>" value="digital" <TMPL_VAR NAME=type_digital>>
                            <label for="OUTPUTS.TYPE<TMPL_VAR NAME=current>" onclick="$('#frequency<TMPL_VAR NAME=current>').hide();">Digital</label>
                            
                            <input type="radio" name="OUTPUTS.TYPE<TMPL_VAR NAME=current>" id="OUTPUTS.TYPE<TMPL_VAR NAME=current>a" value="pwm" <TMPL_VAR NAME=type_pwm>>
                            <label for="OUTPUTS.TYPE<TMPL_VAR NAME=current>a" onclick="$('#frequency<TMPL_VAR NAME=current>').show();">PWM</label>
                            
                            <input type="checkbox" name="OUTPUTS.INVERT<TMPL_VAR NAME=current>" id="OUTPUTS.INVERT<TMPL_VAR NAME=current>" value="true" <TMPL_VAR NAME=invert_value>>
                            <label for="OUTPUTS.INVERT<TMPL_VAR NAME=current>">Invertiert</label>
                                
                        </fieldset>
                        
                      </div>  
                    </div>
                  </div> 
                </TMPL_LOOP>
              </div>

            </div> 
            <h3>MQTT</h3>
              <p class="<TMPL_VAR NAME=mqtthintclass>"><TMPL_VAR NAME=mqtthint></p>
            <center>
              <button class="button" type="reset" form="main_form" id="btnreset2" data-role="button" data-inline="true"
              data-mini="true" data-icon="check">Reset</button>
              <button class="button" type="submit" form="main_form" id="btnsubmit2" data-role="button" data-inline="true"
              data-mini="true" data-icon="check">Speichern</button>
            </center>
          </form>
      </div>
    </div>
</div>
