.error{
	color: red;
}

.error .ui-input-text input {
	border-color: red;
	border-width: 2px;
	border-style: solid;
}

.maininfo{
	text-align:center;
	font-size: 1.3em;
}

.info.maininfo{
	color: green;
}

.inputlabel{
	text-align: right;
}

.separatingline{
	border-bottom: 2px solid #cdcdcd;
}

.tableheadline {
	text-align: center;
}

.help {
	font-size: 0.75em;
    margin-top: 5px;
}


.wiring legend{
	float: left;
    line-height: 60px;
    vertical-align: middle;
}
.wiring.ui-select{
	float: right;
    width: 60%;
} 
.radiocontainer{
	display: flex;
  align-items: center;
  justify-content: center;	
}
   


    