.error{
	color: red;
}

.error .ui-input-text input {
	border-color: red;
	border-width: 2px;
	border-style: solid;
}

.maininfo{
	text-align:center;
	font-size: 1.3em;
}

.info.maininfo{
	color: green;
}

.inputlabel{
	text-align: right;
}

.help {
	font-size: 0.75em;
    margin-top: 5px;
}

.wiring {
	float: right;
  width: 45%;
}

.radiocontainer{
	display: flex;
  align-items: center;
  justify-content: center;
}

.gpioconf{
  float: left;
  margin: 0em 2% 0 0;
}
.mono{
font-family: monospace;
font-size: 110%;
font-weight: bold;
color: green;
}

.notityRedMqtt{
	z-index: 10;
	left: -44px;
	top: 0px;
	background: #ed1d24;
	color: #fff;
	padding: 6px;
	border-radius: 11px;
	font-size: 12px;
	line-height: 0.8;
	min-width: 9px;
}
.error_hint{
	float: left;
	margin-top: 0px;
}
.info_icon{
	border: none;
	background: none;
	margin-top: 5px;
}
.info_text{
	float: right;
	margin-top: -10px;
	margin-bottom: 0px;
	height: 20px;
}

.ui-content>span.info_text_subline{
	margin-top: 10px;
	margin-bottom: 5px;
}
.info_text_headline{
	font-weight: bold;
	display: block;
}

fieldset.gpio-right{
	top: 55%;
	transform: translateY(-45%);
	position: -webkit-sticky;
}

.param{
	font-weight: bold;
}

.button{
	width: 300px;
}



