.error{
	color: red;
}

.error .ui-input-text input {
	border-color: red;
	border-width: 2px;
	border-style: solid;
}

.maininfo{
	text-align:center;
	font-size: 1.3em;
}

.info.maininfo{
	color: green;
}

.inputlabel{
	text-align: right;
}

.help {
	font-size: 0.75em;
    margin-top: 5px;
}

.wiring {
	float: right;
  width: 45%;
}

.radiocontainer{
	display: flex;
  align-items: center;
  justify-content: center;
}

.gpioconf{
	width: 50%;
  float: left;
  margin: 0em 2% 0 0;
}

.button{
	width: 300px;
}
